http://localhost {
    route /api/* {
        reverse_proxy backend:3000
    }

    route /livekit-webhook {
        reverse_proxy backend:3000
    }

    route /rtc* {
        reverse_proxy livekit:7880
    }

    route /* {
        reverse_proxy livekit:7880
    }
}
